{% comment %} {% extends 'base.html' %}

{% block content %}

    <h1 class="mb-4 fw-bold">📰 Tipe Blog</h1>

    <div>
        <a href="{% url 'type_create' %}" class="btn btn-success mt-2 mb-4">
            Tambah Tipe Blog Baru
        </a>
        <a href="{% url 'to_blog' %}" class="btn btn-info mt-2 mb-4">
            Kembali ke Blog
        </a>
    </div>

    <div class="row g-4">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Nama Type</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                {% for type in types %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ type.name }}</td>
                    <td>
                        <a href="{% url 'type_edit' type.id %}" class="btn btn-warning btn-sm">Edit</a>
                        <a href="{% url 'type_delete' type.id %}" 
                            class="btn btn-danger btn-sm"
                            onclick="return confirm('Yakin mau hapus type ini?')">
                        Delete
                    </a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3" class="text-center">Belum ada data 😔</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %} {% endcomment %}